{% extends 'base.html' %}
{% load static %}

{% block title %}Home - ECO Refashion{% endblock %}

{% block extra_css %}
    <style>
        .card-img-top {
            height: 202px;
            object-fit: cover;
        }
    </style>
{% endblock %}

{% block content %}
    <section class="py-5 text-center hero-section d-flex align-items-center">
        <div class="hero-content container p-5">
            <h1 class="display-4 fw-bold">Elevate Your Style</h1>
            <p class="lead">Timeless Fashion, Sustainable Choices</p>

            {% if request.user.role == 'user' %}
                <a href="{% url 'main:products' 'product' %}" class="btn btn-primary btn-lg mt-3">
                    <i class="fas fa-shopping-bag me-2"></i> Shop Now
                </a>
            {% endif %}
        </div>
    </section>

    <section class="py-5">
        <div class="container">
            <h2 class="mb-4"><i class="fas fa-tags me-2"></i>Products on Sale</h2>
            <div class="row g-4">
                {% for product in sale_products %}
                    {% include 'main/includes/product_card.html' with obj=product %}
                {% empty %}
                    <p class="text-muted">No products on sale right now.</p>
                {% endfor %}
            </div>
        </div>
    </section>

    <section class="bg-light py-5">
        <div class="container">
            <h2 class="mb-4"><i class="fas fa-user-clock me-2"></i>Rentable Fashion</h2>
            <div class="row g-4">
                {% for product in rent_products %}
                    {% include "main/includes/product_card.html" with obj=product %}
                {% empty %}
                    <p class="text-muted">No products available for rent.</p>
                {% endfor %}
            </div>
        </div>
    </section>

{#    {% if request.user.role == "user" %}#}
{#        <section class="py-5">#}
{#            <div class="container">#}
{#                <h2 class="mb-4"><i class="fas fa-recycle me-2"></i>Thrifted Finds</h2>#}
{#                <div class="row g-4">#}
{#                    {% for product in thrifts %}#}
{#                        {% include "main/includes/product_card.html" with obj=product %}#}
{#                    {% empty %}#}
{#                        <p class="text-muted">No thrifted items available right now.</p>#}
{#                    {% endfor %}#}
{#                </div>#}
{#            </div>#}
{#        </section>#}
{#    {% endif %}#}
{% endblock %}
