{% load static %}

<div class="col-sm-6 col-md-4 col-lg-3">
    <div class="card h-100 shadow-sm position-relative">
        <a class="d-flex align-items-center btn btn-light position-absolute top-0 end-0 m-2 shadow-sm rounded-circle" style="height: 44px; width: 44px;" href="{% url 'main:cart_action_with_id' 'add' obj.id%}">
            <i class="fas fa-shopping-cart"></i>
        </a>

        {% if obj.image %}
            <img src="{{ obj.image.url }}" class="card-img-top object-fit-cover" alt="{{ obj.title }}" style="height: 259px; width: 100%;">
        {% else %}
            <img src="{% static 'images/default_clothes.webp' %}" class="card-img-top object-fit-fill" alt="{{ obj.title }}"/>
        {% endif %}

        <div class="card-body d-flex flex-column">
            <h5 class="card-title">{{ obj.title }}</h5>
            <p class="card-text text-muted">Rs. {{ obj.price }}</p>

            {% if obj.description %}
                <p class="card-text">{{ obj.description|truncatewords:20 }}</p>
            {% endif %}

            <div class="mt-auto">
                <a href="{% url 'main:product_detail' obj.id %}" class="btn btn-outline-primary w-100">View</a>
            </div>
        </div>
    </div>
</div>
