{% load static %}

<div class="col-sm-6 col-md-4 col-lg-3">
    <div class="card h-100 shadow-sm">
        {% if obj.image %}
            <img src="{{ obj.image.url }}" class="card-img-top object-fit-cover" alt="{{ obj.title }}">
        {% else %}
            <img src="{% static 'images/default_clothes.webp' %}" class="card-img-top object-fit-fill" alt="{{ obj.title }}"/>
        {% endif %} 
        <div class="card-body">
            <h5 class="card-title">{{ obj.title }}</h5>
            <p class="card-text text-muted">Rs. {{ obj.price }}</p>
            <a href="{% url 'main:product_detail' obj.id %}" class="btn btn-outline-primary">View</a>
        </div>
    </div>
</div>