.table-wrapper {
    overflow-x: auto;
    width: 100%;
    margin-top: 20px;
}

.styled-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 16px;
    background-color: var(--white);
    box-shadow: var(--shadow);
    border: 1px solid var(--border-color);
    border-radius: 8px;
    overflow: hidden;
}

.styled-table thead {
    background-color: var(--primary-color);
    color: #fff;
}

.styled-table th,
.styled-table td {
    text-align: left;
    padding: 16px 12px;
    border-bottom: 1px solid var(--border-color);
}

.styled-table tbody tr:hover {
    background-color: #f0fdf4;
}

.styled-table td {
    color: var(--text-color);
}

.styled-table.center-sm td,
.styled-table.center-sm th {
    text-align: center;
}

@media (max-width: 768px) {
    .styled-table {
        font-size: 14px;
    }

    .styled-table th,
    .styled-table td {
        padding: 12px 8px;
    }
}
